# Supabase — obtener en: Project Settings → Database → Connection string
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ref]:[password]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="cambia-esto-por-algo-seguro-en-produccion-min-32-chars"

# Servidor
PORT=3000
NODE_ENV=development
CORS_ORIGIN="http://localhost:3001"
